*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: $primary-color;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 8px;
    background-color: lightgray;
  }
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}
