@import "./variables";
@import "./base";

@import "./utils/focus-visible";
@import "./utils/fonts";
@import "./utils/stop-scroll";

@import "./components/burger-menu";
@import "./components/button";
@import "./components/carousel-button";
@import "./components/coaches-card";
@import "./components/container";
@import "./components/header-block";
@import "./components/logo";
@import "./components/profile";
@import "./components/section";
@import "./components/services-card";
@import "./components/telephone-button";

@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/modal-window";
@import "./layouts/section_1";
@import "./layouts/section_2";
@import "./layouts/section_3";
@import "./layouts/section_4";
@import "./layouts/section_5";
@import "./layouts/section_6";
