@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 400;
    src: url('/fonts/jost-v15-cyrillic_latin-regular.woff2') format('woff2'),
        url('../fonts/jost-v15-cyrillic_latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 600;
    src: url('../fonts/jost-v15-cyrillic_latin-600.woff2') format('woff2'),
        url('../fonts/jost-v15-cyrillic_latin-600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-weight: 700;
    src: url('../fonts/jost-v15-cyrillic_latin-700.woff2') format('woff2'),
        url('../fonts/jost-v15-cyrillic_latin-700.ttf') format('truetype');
}