.button {
  border-radius: 5px;
  padding: 25px 54px;
  width: 260px;
  height: 79px;
  font-size: 18px;
  text-align: center;
  color: $secondary-color;
  background-color: #d52027;
  cursor: pointer;
}
