.button {
  border-radius: 5px;
  padding: 25px 54px;
  width: 260px;
  height: 79px;
  font-size: 18px;
  text-align: center;
  color: $secondary-color;
  background-color: #d52027;
  cursor: pointer;
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    scale: -0.95;
  }

  &__line {
    border: 2.11px solid $secondary-color;
    width: 17px;
    rotate: 45deg;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    &:last-child {
      rotate: -45deg;
    }
  }

  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.button-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    border: 2px solid $primary-color;
  }

  &::before {
    transform: translate(3px, 7px);
    rotate: 130deg;
  }

  &::after {
    transform: translate(-3px, 7px);
    rotate: -130deg;
  }
}
