.coaches-card {
  @media (max-width: $bp-tablet) {
    text-align: center;
  }

  & > * {
    margin-bottom: 20px;
  }

  & > *:last-child {
    margin-bottom: 0px;
  }

  &__image {
    border-radius: 20px;
    width: 100%;
    max-width: 360px;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 10px;

    @media (max-width: $bp-tablet) {
      font-size: 20px;
    }
  }

  &__speciality {
    color: $third-color;

    @media (max-width: $bp-tablet) {
      font-size: 14px;
    }
  }

  &__link-text {
    color: #d52027;
    max-width: 93px;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    @media (max-width: $bp-tablet) {
      font-size: 16px;
    }
  }
}
