.logo {
  font-weight: 700;
  font-size: 30px;
  color: $secondary-color;

  &__link {
    max-width: 228px;

    &:focus-visible {
      outline: 2px dashed lightcoral;
      outline-offset: 10px;
    }
  }

  &__image {
    width: 100%;
  }
}
