.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  &__container {
    padding: 30px 100px 0;

    @media (max-width: $bp-desktop) {
      padding: 10px 10px 0;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__item:last-child {
    width: 100%;
    max-width: 270px;

    @media (max-width: $bp-desktop) {
      width: auto;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__nav {
    @media (max-width: $bp-desktop) {
      padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background-color: $primary-color;
      z-index: 50;
      transform: translateX(100%);
      visibility: hidden;
      transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

      &--active {
        transform: none;
        visibility: visible;
      }
    }
  }

  &__nav-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;

    @media (max-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 20px;
      width: 100%;
      height: 100%;
    }
  }

  &__nav-list-item {
    font-size: 20px;
    color: $secondary-color;

    @media (max-width: $bp-desktop) {
      font-weight: 600;
      font-size: 30px;
      color: $secondary-color;
    }
  }

  &__nav-list-link {
    padding: 6px 8px;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed lightcoral;
    }

    @media (any-hover: hover) {
      &:hover {
        border-radius: 10px;
        background-color: lightcoral;
      }
    }
  }

  &__tel {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: $secondary-color;
    transition: color 0.3s ease-in-out;

    &:focus-visible {
      outline: 2px dashed lightcoral;
    }

    @media (any-hover: hover) {
      &:hover {
        border-radius: 10px;
        background-color: lightcoral;
      }
    }

    @media (max-width: $bp-desktop) {
      display: none;
    }
  }
}
