.services {
  padding-bottom: 120px;

  @media (max-width: $bp-tablet) {
    padding-bottom: 60px;
  }

  &__container {
    display: grid;
    gap: 60px;

    @media (max-width: $bp-tablet) {
      gap: 40px;
    }
  }

  &__header h2 {
    @media (max-width: $bp-desktop) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
  }
}
