.coaches {
  &__swiper {
    max-width: 100%;
  }

  &__container {
    display: grid;
    gap: 60px;

    @media (max-width: $bp-tablet) {
      gap: 40px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
  }

  &__button-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;

    @media (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__scrollbar {
    border-radius: 40px;
    width: 100%;
    max-width: 360px;
    height: 5px;
    background-color: rgba(20, 16, 36, 0.08);

    @media (max-width: $bp-tablet) {
      max-width: none;
    }
  }
}
