.hero {
  position: relative;
  z-index: 10;
  background-color: $third-color;
  margin-bottom: 60px;

  @media (max-width: $bp-tablet) {
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    align-items: center;

    @media (max-width: $bp-desktop) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 1 50%;

    & > * {
      margin-bottom: 20px;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:last-child {
      position: relative;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 70px;
    color: $secondary-color;
    text-transform: uppercase;

    @media (max-width: $bp-tablet) {
      font-size: 50px;
    }

    @media (max-width: $bp-mobile) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    color: $secondary-color;
    margin-bottom: 50px;

    @media (max-width: $bp-tablet) {
      font-size: 18px;
      text-align: center;
    }

    @media (max-width: $bp-mobile) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__button {
    background-image: linear-gradient(to right, red, orange, pink);
    background-size: 300% auto;
    transition: background-position 0.7s;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed lightcoral;
      outline-offset: 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-position: right center;
        transition: background-position 0.7s;
        color: $primary-color;
      }
    }

    @media (max-width: $bp-tablet) {
      position: absolute;
      bottom: 40px;
      z-index: 25;
      border-radius: 5px;
      padding: 17px 82px;
      width: 300px;
      height: 60px;
      font-size: 16px;
      text-align: center;
      color: $secondary-color;
    }
  }

  &__svg {
    position: absolute;
    bottom: 0;
    left: -30px;
    z-index: -1;
    width: 783px;
    height: 784px;

    @media (max-width: $bp-desktop) {
      left: 50%;
      translate: -50%;
    }

    @media (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__image {
    translate: 110px;
    z-index: 15;

    @media (max-width: $bp-desktop) {
      translate: none;
    }
  }
}
